body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	letter-spacing: 0.8px;
	word-spacing: -0.2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

ul.list { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.list_item {
	background: #8ebdcc;
	/* margin: top right bottom left  */
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 120px;
	height: 120px;
	text-align: center;
	cursor: pointer;
	
	/* font-size: 3em;  */  

}
    

#header{
	clear: left;
	width: 100%;
	background: #3582bb;
	color: #ffffff;
	text-align: center;
	padding: 4px 0;
}

#footer{
	text-align: center;
}

