body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	letter-spacing: 0.8px;
	word-spacing: -0.2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

#mashing_list { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* width: 450px; */
}

li.mashing_list_item {
	background: #e1e1e1;
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 100px;
	height: 90px;
	font-size: 4em;
	text-align: center;
}
    

#header{
	clear: left;
	width: 100%;
	background: #3582bb;
	color: #ffffff;
	text-align: center;
	padding: 4px 0;
}

#footer{
	text-align: center;
}

