    .wrapper {
      position: relative;
      width: 240px;
      height: 180px;
      margin: auto auto 0 auto;
      padding-bottom: 20px;
      padding-top: 20px;
      clear: both;
    }

    .box {
      float: left;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    .container {
      width: 240px;
      margin: 0 auto;
      text-align: center;
    }

    .gauge {
      width: 240;
      height: 180px;
    }

    button {
      margin: 30px 5px 0 2px;
      padding: 16px 40px;
      border-radius: 5px;
      font-size: 18px;
      border: none;
      background: #34aadc;
      color: white;
      cursor: pointer;
    }

    p {
      padding: 10px;
      font-family: 'Arial';
    }

    #log {
      color: #ccc;
    }