body {
    /* background: url("../img/hops_background.png") no-repeat top center; */
	
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	letter-spacing: 0.8px;
	word-spacing: -0.2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}