body {
    /* background: url("../img/hops_background.png") no-repeat top center; */
	
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	letter-spacing: 0.8px;
	word-spacing: -0.2px;
	color: #000000;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.m_select {
	text-align: center;
}

#batch_title {
	text-align: center;
}

#command {
	text-align: center;
}

button#stop {
      margin: 30px 5px 0 2px;
      padding: 16px 40px;
      border-radius: 5px;
      font-size: 18px;
      border: none;
      background: #c60000;
      color: white;
      cursor: pointer;
    }