.band { width: 100%; }

div#show_data {
	float: left;
	width:50%;
	background-color:#27416E;
	color:#FFFFFF;

}

div#show_devices {
	float: right;
	width:50%;
	background-color:#27216E;
	color:#FFFFFF;

}