div.container {
    width: 100%;
    border: 1px solid gray;
}


.header {
    padding: 1em;
    color: black;
    background-color: orange;
    clear: left;
    text-align: center;
}

.data {
	float: left;
	width: 50%;
    padding: 1em;
    color: black;
    background-color: gray;
    clear: left;
    text-align: center;
}

.device {
	float: left;
	width: 50%;
    padding: 1em;
    color: black;
    background-color: gray;
    clear: left;
    text-align: center;
}

.footer {
    padding: 1em;
    color: black;
    background-color: yellow;
    clear: left;
    text-align: center;
}
