div.container {
    width: 100%;
    border: 1px solid gray;
}


.header, .data, .footer {
    padding: 1em;
    color: black;
    background-color: orange;
    clear: left;
    text-align: center;
}

